@*@model IEnumerable<Models.Document>*@
@model PagedList.IPagedList<Models.Document>
@using PagedList.Mvc;

<h3>Список документов</h3>
<p>
 @Html.ActionLink("Добавить документ", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { page = Model.PageNumber, sortColumn = "Id" })
        </th>
        <th>
            @Html.ActionLink("Название", "Index", new { page = Model.PageNumber, sortColumn = "Title" })
        </th>
        <th>
           @Html.ActionLink("Автор", "Index", new { page = Model.PageNumber, sortColumn = "Author" })
        </th>
        <th>
            @Html.ActionLink("Дата", "Index", new { page = Model.PageNumber, sortColumn = "CreationDate" })
        </th>
        <th>
            Файл
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </th>
            <th>
                <a href="@item.Path">
                    <img src="/Content/images/icon-download.png" alt="Файл" style="width:25px;height:25px;border:0;">
                </a> 
            </th>
        </tr>
    }

</table>
<br/>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new {  page, sortColumn = ViewBag.sortColumn }))
