@model IEnumerable<Models.Document>

@ViewBag.sortColumn

<h3>Список документов</h3>
<p>
 @Html.ActionLink("Добавить документ", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { sortColumn = "Id" })
        </th>
        <th>
            @Html.ActionLink("Название", "Index", new { sortColumn = "Title" })
        </th>
        <th>
           @Html.ActionLink("Автор", "Index", new { sortColumn = "Author" })
        </th>
        <th>
            @Html.ActionLink("Дата", "Index", new { sortColumn = "CreationDate" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </th>
            <th>
                <a href="@item.Path">
                    <img src="/App_Data/Content/images/icon-download.png" alt="Файл" style="width:42px;height:42px;border:0;">
                </a> 
            </th>
        </tr>
    }

</table>
